@using Microsoft.AspNetCore.Identity
@using MainUI.Authentication;

@inject MainUI.Authentication.IAuthTokenProvider TokenProvider

<!doctype html>
<!--
* Tabler - Premium and Open Source dashboard template with responsive and high quality UI.
* @@version 1.0.0-beta2
* @@link https://tabler.io
* Copyright 2018-2021 The Tabler Authors
* Copyright 2018-2021 codecalm.net Paweł Kuna
* Licensed under MIT (https://github.com/tabler/tabler/blob/master/LICENSE)
-->
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dashboard - Tabler - Premium and Open Source dashboard template with responsive and high quality UI.</title>
    <!-- CSS files -->
    <link href="~/css/tabler.min.css" rel="stylesheet" asp-append-version="true"/>
    <link href="~/css/tabler-flags.min.css" rel="stylesheet" asp-append-version="true"/>
    <link href="~/css/tabler-payments.min.css" rel="stylesheet" asp-append-version="true"/>
    <link href="~/css/tabler-vendors.min.css" rel="stylesheet" asp-append-version="true"/>
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>
    <body class="antialiased layout-nofluid">
        <div class="wrapper">
            @if (TokenProvider.HasToken())
            {
                <partial name="_TopMenu" />
            }
            <div class="page-wrapper">
                <div class="container-xl">
                    <!-- Page title -->
                    <div class="page-header d-print-none">
                        <div class="row g-3 align-items-center">
                            @RenderSection("Title", required: false)
                        </div>
                    </div>
                </div>
                <div class="page-body">
                    @RenderBody()
                </div>
                @if (TokenProvider.HasToken())
                {
                    <partial name="_Footer" />
                }
            </div>
        </div>
        <!-- Libs JS -->
        <script src="~/js/tabler.min.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/apexcharts/dist/apexcharts.min.js"></script>

        @RenderSection("Scripts", required: false)
    </body>
</html>